{% extends "website/base.html" %}
{% load widget_tweaks %}

{% block conteudo %}

    
<div class="container">
<h2>Cadastra produto:</h2>
<form action="" method="post">
    {% csrf_token %}
    <div>
        <label for="{{ form.codigo.id_for_label }}">Código: </label>
            {{ form.codigo|add_class:"form-control"}}
        <label for="{{ form.nome.id_for_label }}">Nome: </label>
            {{ form.nome|add_class:"form-control"}}
        <label for="{{ form.categoria.id_for_label }}">Categoria: </label>
            {{ form.categoria|add_class:"form-control"}}
        <label for="{{ form.linha.id_for_label }}">Linha: </label>
            {{ form.linha|add_class:"form-control"}}
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
</div>
{% endblock %}